html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  @media (max-width: 1536px) {
    font-size: 14px;
  }

  @media (max-width: 1370px) {
    font-size: 12px;
  }

  @media (max-width: 1024px) {
    font-size: 10px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 420px) {
    font-size: 10px;
  }

  @media (max-width: 370px) {
    font-size: 9px;
  }

  @media (max-width: 320px) {
    font-size: 8px;
  }
}

.container {
  max-width: 86.25rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
}

a.purple_link {
  color: #6d5fea;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  font-family: "AvenirNext", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: none;
  outline: none;
  background: #ff9606;
  padding: 1.5rem;
  width: 27.5rem;
  height: 5rem;
  min-height: 5rem;
  font-size: 1.3rem;
  border-radius: 5rem;
  letter-spacing: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &--large {
    width: 34.375rem;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    color: #fff;
    background: #ff8029;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &.disabled {
    background: #a1a1a1;
  }
}

.bold {
  font-weight: 600 !important;
}
.page {

  &-title {
    font-size: 4rem;
    line-height: 1.5;

    &--avenir {
      font-size: 4.5rem;
      line-height: 1.5;
      font-family: "AvenirNext", sans-serif;
      letter-spacing: 1px;
    }

    &--white {
      color: #fff;
    }
  }
  &-annotation {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #a8a8aa;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  &-description {
    text-align: center;
    font-weight: 100;
    margin: 1.5rem 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #1d1d26;

    &--white {
      color: #fff;
    }

    &--item {
      display: flex;
      justify-content: flex-start;
    }

    &__item {
      margin-right: 1.875rem;
      width: calc(33.3% - 1.25rem);
      text-align: left;
      line-height: 1.7;
      color: #1d1d26;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
  }

  &-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }

  &-block {
    width: 100%;
    margin-top: 1rem;
    text-align: left;

    .page-description {
      text-align: left;
    }

    &__title {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 768px) {
    &-title {
      font-size: 3.2rem;

    }

    &-annotation {
      font-weight: 300;
      line-height: 2;
    }

    &-description {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}

.page-header__image {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobile {
   @media (min-width: 769px) {
    display: none !important;
  }
}

.desktop  {
    @media (max-width: 768px) {
    display: none !important;
  }
}


@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(4000px);
    -moz-transform: translateX(4000px);
    -o-transform: translateX(4000px);
    -ms-transform: translateX(4000px);
    transform: translateX(4000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-keyframes left {
  0% {
    -webkit-transform: translateX(4000px);
    -moz-transform: translateX(4000px);
    -o-transform: translateX(4000px);
    -ms-transform: translateX(4000px);
    transform: translateX(4000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes return {
  100% {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -o-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@-keyframes return {
  100% {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -o-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}

